.header-list{
list-style: none;    
}

.logo{
font-family: Raleway;
font-weight: 700;
font-size: 26px;
line-height: 0.83;  
letter-spacing: 0.03em;
color: #2196F3;
}

.header-link{
font-family: Roboto;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #212121;
}

.header-link:hover,
.header-link:focus{
color: #2196F3;
}

.referents{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #757575;
}

.body{
font-family: 'Open Sans', sans-serif;
}
/*-------------------------------------HERO---------------------------*/
.hero{
    background-color: #2F303A;
}

.hero-title{
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
}

.hero-button{
/* position: absolute;
width: 216px;
height: 50px;
left: 692px;
top: 430px; */
background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}
/*--------------------------SCILLS-------------------------------*/
.scills{
background-color: #ffffff;
}

.scills-title{
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
}

.scills-list{
list-style: none;
}
.scills-item{font-weight: 400;font-size: 14px;line-height: 1.71;letter-spacing: 0.03em;color: #757575;
}
/*-----------------------WORK---------------------------*/
.work{
background-color: #ffffff;
}

.work-list{
list-style: none;
}

.work-title{
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.16;
/* text-align: center; */
letter-spacing: 0.03em;
color: #212121;
}
/*----------------------------SPECIALISTS-------------------------------*/
.specialists{
background: #F5F4FA;
}

.specialists-list{
list-style: none;
}

.specialists-title{
font-weight: 700;
font-size: 36px;
line-height: 1.16;
/* text-align: center; */
letter-spacing: 0.03em;
color: #212121;
}

.specialists-name{
font-weight: 500;
font-size: 16px;
line-height: 1.18;
/* identical to box height */
/* text-align: center; */
letter-spacing: 0.03em;
color: #212121;
}

.specialists-directions{
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height */
/* text-align: center; */
letter-spacing: 0.03em;
color: #757575;
}
/*----------------------FOOTER------------------------------*/
.footer{
    background-color: #2F303A;
}
.footer-list{
list-style: none;
}
.footer-link{
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #FFFFFF;
}
/*----------------------------------PORTFOLIO--------------------*/
.navigation,
.superhero{
    background-color: #ffffff;
}
.navigation-list,
.superhero-list{
list-style: none;
}
